#fields-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    padding: 0;
}

#fields-div > div {
    text-decoration: underline darkslategrey;
    height: 40px;
    padding: 0;
    text-align: center;
}

#fields-div div:nth-child(1) {
    max-width: 8%;
   min-width: 8%;
}

#fields-div div:nth-child(2), #fields-div div:nth-child(3), #fields-div div:nth-child(4) {
    max-width: 20%;
    min-width: 20%;
}

#fields-div div:nth-child(5) {
    max-width: 12%;
min-width: 12%;
}